<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>show</title>
</head>
<body>

<%= javascript_include_tag 'listings.js'  %>

<!-- BREADCRUMBS PATH NAV PANEL -->
<div class="row">
  <div class="large-3 medium-3 columns" >  <a href="http://localhost:3000">RList</a>  </div>
  <div class="large-3 medium-3 columns" > <h6> <a href="http://localhost:3000"> rlist > jobs > it > new </a>  </h6> </div>
  <hr>
</div>
<!-- END BREADCRUMBS PATH NAV PANEL -->


<!-- CONTENT AREA ROW -->
<div class="row">


  <!-- MENU-NAV-BOX    LEFT  (1st COLUMN) -->
  <div class="large-3 medium-3 columns" id="menu-nav-box">
    <p>
      <br />Post to classfieds
      <br />my account
      <br />log out
    </p>
    <form>
      <label>Search in RList</label>
      <input type="text" placeholder="search" />
      <input type="text" placeholder="where" />
      <div class="row">
        <div class="large-12 columns">
          <select>
            <option value="community">Community</option>
            <option value="personals">Personals</option>
            <option value="services">Services</option>
            <option value="housing">Housing</option>
            <option value="for sale">For Sale</option>
            <option value="jobs">Jobs</option>
          </select>
        </div>
      </div>
      <a href="#" class="small button">SEARCH</a><br/>
    </form>
  </div>
  <!-- END MENU-NAV-BOX    LEFT  (1st COLUMN) -->


  <!-- 2nd COLUMN CONTENT AREA  (CONTENT of SELECTED CATEGORY) -->
  <div class="large-9 medium-9   columns">

      <h3> <a href="#"> POST new classfied item </a> </h3>

    <%= form_for @listing do |f| %>

    <p> <%= f.label :title %>
    <%= f.text_field :title, class: "form_text_field" %> </p>
    <p><%= f.text_area :description, class: "form_text_area", placeholder: " enter description here " %> </p>
    <p><%= f.label :category_id %>
    <%= f.select :category_id, Category.all.map {|f| [f.name, f.id]}, class: "form_select" %> </p>
    <p><%= f.label :subcategory_id %>
    <%= f.select :subcategory_id, Subcategory.all.map {|f| [f.name, f.id]} %> </p>
    <p><%= f.label :city %>
    <%= f.text_field :city, class: "form_text_field" %> </p>
    <p><%= f.label :state %>
    <%= f.text_field :state, class: "form_text_field" %> </p>
    <p><%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: "form_text_field" %> </p>
    <%= f.submit %>
    <% end %>

    <br>

<!--
    t.string   "title"
    t.text     "description"
    t.string   "city"
    t.string   "state"
    t.string   "zipcode"
    t.datetime "created_at"
    t.datetime "updated_at"
-->

  </div>
  <!-- END 2nd COLUMN CONTENT AREA  (CATEGORIES AND SUBCATEGORIES) -->


</div>
<!-- END CONTENT AREA ROW -->




<!--   FOOTER -->
<hr>
<footer>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <p> <%= link_to 'help', help_path %> <%= link_to 'faq' %>   info static scamms </p>
    </div>
  </div>
</footer>
<!-- END OF FOOTER -->


</body>
</html>