<p> LISTING </p>

ID: <%= @listing.id %> <br>
Title: <%= @listing.title %><br>
Description: <%= @listing.description %><br>
City: <%= @listing.city %><br>
State: <%= @listing.state %><br>
Zipcode: <%= @listing.zipcode %><br>
Category id: <%= @listing.category_id %> <br>
Category name: <%= Category.find(@listing.category_id).name %><br>
Subcategory id: <%= @listing.category_id %> <br>
Subcategory name: <%= Subcategory.find(@listing.subcategory_id).name %><br>
Created_at: <%= @listing.created_at %><br>
Updated_at: <%= @listing.updated_at %><br>

